@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <nav class="navbar-header" role="navigation">
        <ul>
            <li><a href="/Home/AboutUs">AboutUs</a></li>
            <li><a href="/Home/ContactUs">ContactUs</a></li>
            <li><a href="/Home/Index">Index</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div>
            <span>© Copyright  reserved By STAGCorporation</span>
        </div>
    </footer>
</body>
</html>
